.autocompleteContainer {
  font-family: "Inter", sans-serif;
  position: relative;
  display: inline-block;
}

.autocompleteInput {
  font-family: "Inter", sans-serif;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.autocompleteInput:focus {
  border-color: #999;
}

.suggestionList {
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 2.2rem;
  left: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.suggestionItem {
  padding: 4px 8px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}
